* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  margin: 10px;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  padding: 10px;
  border: 1px solid black;
}

.side {
  width: 20%;
  margin-right: 10px;
}
.main {
  width: 75%;
  justify-content: center;
}
.mb16 {
  margin-bottom: 16px;
  width: 80%;
}
label {
  width: 30%;
  margin-right: 4%;
  text-align: right;
  display: inline-block;
}

input,
select {
  width: 60%;
  padding: 4px;
  height: 40px;
}
a {
  display: block;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 4px;
  color: black;
}

a.active {
  color: blue;
}

button {
  height: 32px;
  padding:4px 12px;
}
.checkmark {
  content: '\2714';
}
.crossmark {
  content: '\2716';
}
.btnContainer{
  display: flex;
  width: 80%;

}

.btnContainer .btnInnerDiv{
  width: 60%;
  margin-left:34%;
}
.checkClass{
  display: inline-block;
  float: right;
}
.clrred{
  color:red;
}
.clrgreen{
  color:green;
}
.clear{
 clear: both; 
}

